body
{
    background-color: rgb(139, 237, 204);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(20, 18, 18);
}

.container
{
    width: 700px;
    margin: 16px auto;/* centers the layout*/
}
.logo
{
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 6px;
    text-align: center;
}

nav li
{
    display: inline;
    margin-right: 16px;
}
nav ul
{
    padding-left: 0;
}
nav a,nav a:visited,nav a:active 
{
    color: rgb(28, 94, 94);
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover
{
    color: rgb(119, 82, 33);
    text-decoration: underline;
}
img
{
    width: 700px;
    height: auto;
}
footer
{
    background-color: beige;
    color: rgb(76, 114, 211);
    font-size: 12px;
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 16px;
    /*padding: top right bottom left;*/
    padding: 16px 24px 16px 24px;
}